* {
    margin: 0;
    padding: 0;
    /* border: 1px dashed red; */
}
.header {
    text-align: center;
    margin: 20px;
}
.stats {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 10px auto;
    text-align: center;
}
.stat {
    flex-basis: 100px;
}
.actions {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto;
}
.actions button {
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: lightblue;
}
.message_log {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
}